html {
  font-size: 65.2%;
}
body {
  /* margin: 10px; */
  background-color: rgb(117, 82, 82);
  width: 100vw;
  height: 248.4vh;
  border: 15px solid black;
}

#menuVH {
  height: 300vh;
}

a:link {
  color: rgb(102, 64, 64);
}

a:visited {
  color: rgb(32, 7, 7);
}

a:hover {
  color: rgb(71, 71, 71);
}

a:focus {
  color: rgb(71, 71, 71);
}

a {
  text-decoration: none;
}

.copyrightParagrah {
  width: 700px;
}

p {
  line-height: 1.4em;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 1rem;
  top: 3rem;
  list-style: none;
  /* background-color: grey; */
  width: 14rem;
  height: 9rem;
  /* border: 2px solid rgb(83, 47, 47); */
  /* border-radius: 20%; */
}

details {
  font-size: large;
  color: rgb(56, 52, 52);
}

/* CONTAINERS    //////////////////////////////////////////////////////// */
#navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#restaurantNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 440%;
  color: rgb(43, 17, 17);
}

#headerNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  width: 98vw;
  background-color: grey;
  padding: 7px;
  border: 2px solid rgb(87, 60, 60);
}

#imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerNavContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 98vw;
  background-color: grey;
  padding: 7px;
  border: 2px solid rgb(87, 60, 60);
  margin-top: 20px;
}

#copyrightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
}

#pgTwoMainContainer,
#covidContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#pgTwoAboutContainer,
#covidPolicyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(185, 179, 179);
  background-color: black;
  width: 700px;
}

#pgTwoParagrahContainer,
#covidPictureTextContainer {
  width: 300px;
  margin-left: 12px;
  padding: 15px;
}

#mainContactPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

/* Images      ///////////////////////////////////////////////////////////////// */
#decorImageMain {
  width: 700px;
  height: 500px;
  border: 6px solid rgb(85, 70, 70);
}

#backgroundImagePgTwo,
#imageCovid {
  width: 350px;
  height: 400px;
  margin: 15px;
  object-fit: cover;
}
.menuImages {
  position: absolute;
  width: 20rem;
  height: 19rem;
  object-fit: cover;
}

#noodleEgg {
  top: 40rem;
  left: 1.4rem;
}

#shrimpEggroll {
  top: 58rem;
  left: 1.4rem;
}

#takeOut1 {
  top: 75.2rem;
}

#shrimpNoodles {
  right: -1.4rem;
}

#shrimpSoup {
  right: -1.4rem;
  top: 40rem;
}

#redBowlThai {
  right: -1.4rem;
  top: 58rem;
}

#takeOut2DeliveryPage {
  top: 75.2rem;
}

#takeOut2 {
  right: -1.4rem;
  top: 75.2rem;
}

#deliveryPic1 {
  top: 75.2rem;
  left: 1.4rem;
}

#deliveryPic2 {
  right: -1.4rem;
  top: 75.2rem;
}
/*      TABLES STYLING         //////////////////////////////////////////////////////////////////// */

.tableHeader {
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tbodyMenu {
  background-color: rgb(83, 63, 63);
  padding: 7px;
  height: 192vh;
}

tbody {
  background-color: rgb(83, 63, 63);
  padding: 7px;
  height: 186.78vh;
}

tr,
th,
td {
  border-collapse: collapse;
  /* border: 2px solid grey; */
  width: 20rem;
  height: 2rem;
  text-align: center;
}

.menuImages {
  position: absolute;
  width: 19.8rem;
  height: 19rem;
  object-fit: cover;
}

#noodleEgg {
  top: 40rem;
}

#shrimpEggroll {
  top: 58rem;
  z-index: 1;
}

#takeOut1 {
  top: 75.2rem;
}

#shrimpNoodles {
  right: -1.4rem;
}

#shrimpSoup {
  right: -1.4rem;
  top: 40rem;
}

#redBowlThai {
  right: -1.4rem;
  top: 58rem;
}

#takeOut2 {
  right: -1.4rem;
  top: 75.2rem;
}
