html {
  font-size: 65.2%;
}
body {
  margin: 10px;
}

/* CONTAINERS    //////////////////////////////////////////////////////// */
#pageOneContainer {
}

#restaurantNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 440%;
}

#navContainer #headerNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

#imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Images      ///////////////////////////////////////////////////////////////// */
#backgroundMain {
  width: 700px;
  height: 500px;
}
